<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">
      CSP Accounts
    </h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to dashboard_index_path do %>
            <i class="fa fa-home"></i> Home
        <% end %>

      </li>
      <li>
        <i class="fa fa-table"></i>  <%= link_to 'CSP Accounts', accounts_path %>
      </li>

      <li class="active">
        <i class="fa fa-table"></i> Add New CSP Account
      </li>
    </ol>
  </div>
</div>
<!-- Page Heading -->

<div class="panel panel-default">
  <div class="panel-heading">
    Add New Account
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
<%= link_to accounts_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back to Accounts
<% end %>